
<h3>Search</h3>
<div id="site_search">
    <input type="text" id="search_box" placeholder="Search">
    <button class="btn btn-default" id="site_search_do"><span class="octicon octicon-search"></span></button>
</div>

<ul id="search_results"></ul>

<!--谷歌搜索-->
<form action="https://www.google.com/search" method="get" target="_blank">   
    <input name="ie" value="UTF-8" type="hidden" />   
    <input size="30" name="q"  type="text"/>   
    <input name="google" value="google" type="submit" />   
</form>  

<script async src="https://cse.google.com/cse.js?cx=34974468750cc4418">
</script>
<div class="gcse-search"></div>

<link rel="stylesheet" type="text/css" href="/assets/css/modules/sidebar-search.css">
<script src="/assets/js/lunr.min.js"></script>
<script src="/assets/js/search.js"></script>

